@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

.slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slider.is-moving {
    transform: translateX(-33.33%);
}
